
.lineInTop{
    background-color: white;
    width: 1600px;
    height: 80px;
}
.menu{
    margin-left: 60px;
}
.email {
    margin-left: 500px;
}
.tel{
    margin-left: 60px;
}
.block{
    width: 1600px;
    height: 400px;
    top: 40px;
    background-image: url(/img/shapka.jpg);
}
.firstWords{
    display: flex;
    text-align: center;
    margin-left: 600px;
    color: white;
    


}
.work{
    text-align: center;
    display: flex;
    justify-content: center;
    
}
.box1{
    margin-left: 100px;
}
.box2{
    margin-left: 100px;
}
.box3{
    margin-left: 100px;
}
.ourTeam{
    margin-top: 400px;
    width: 1600px;
    height: 648px;
    top: 1446px;
    background-color: #F5F4FA;

}
.ourTeamWords{
    text-align: center;
    
}
.team1{
    margin-left: 100px;
}
.tema2{
    margin-left: 100px;
}
.team3{
    margin-left: 100px;
}
.team4{
    margin-left: 100px;
}
.lineInFooter{
    width: 1600px;
    height: 252px;
    top: 2094px;
    background-color: #2F303A;
}
.logo{
    margin-left: 200px;
    margin-top: 40px;
}
.address{
    margin-left: 200px;
    color: white;
    
}
body{
    font-family: 'Montserrat', serif;
    
}

.description{
    display: flex;
    justify-content: space-between;
}
.card {
    background: #fff;
    
    padding: 20px;
    width: 250px;
    text-align: center;
  }
  .card h3 {
    margin: 0 0 10px;
    font-size: 18px;
    color: #333;
  }
  .card p {
    margin: 0;
    font-size: 14px;
    color: #666;
  }